PANEL_FIFO=/tmp/panel-fifo
PANEL_HEIGHT=32
PANEL_FONT="-*-tamsyn-*-*-*-*-20-*-*-*-*-*-*-*"
#PANEL_FONT="Tamsyn:style=
PANEL_WM_NAME=bspwm_panel
GTK_THEME=Materia-dark-compact
export PANEL_FIFO PANEL_HEIGHT PANEL_FONT PANEL_WM_NAME
export PATH=$PATH":/home/alex/.cargo/:/home/alex/.config/panel:/home/alex/ida-7.2:/home/alex/.local/bin/"
xset +fp /home/alex/.fonts
xset fp rehash
feh --bg-scale /home/alex/Pictures/ChildrenOfGod.jpg
xsetroot -cursor_name left_ptr
wmname LG3D
